@use "../../styles/tokens.scss" as *;

.root {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.box {
  width: 19px;
  height: 19px;
  border-radius: $radius-md;
  background: $color-gray-100;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-family: $font-family-base;
  font-size: $font-size-14;
  color: $color-black;
}

